<div class="jumbotron">
  <h1>hand crafted items from around the world</h1>
  <h2>discover one of a kind item</h2>
</div>

<div class="row">
  <% @listings.each do |listing| %>
  <div class="col-md-3">
    <div class="thumbnail">

      <%= link_to image_tag(listing.image.url(:medium)), listing %>
      <h3><%= link_to listing.name, listing %></h3>
      <p><%= listing.description %></p>
      <%= number_to_currency(listing.price) %><br>
      <p><%= "sold by #{listing.user}" %></p>      
      
    </div>
  </div>
  <% end %>
</div>

<% if user_signed_in? %>
  <%= link_to 'New Listing', new_listing_path , class: "btn btn-link" %>
<% end %>

