

<div class="row">
	<div class="col-md-6">
		<div class="thumbnail"><%= image_tag @listing.image.url() %>
		</div>
	</div>

	<div class="col-md-6">
		<h3><%= @listing.name %></h3>

		<p>
		  <strong>Description:</strong>
		  <%= @listing.description %>
		</p>

        <%= link_to "buy it now", new_listing_order_path(@listing), class: "btn btn_primary" %>
		
		<p>
		  <%= number_to_currency(@listing.price) %>
		</p>
	</div>
</div>

<% if (current_user == @listing.user) %>
        <%= link_to 'Edit', edit_listing_path(@listing), class: "btn btn-link"  %> | 
        <%= link_to 'Destroy', @listing, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link"  %>
<% end %>

